.logo {
    margin: 0 auto;
    padding-top: 10px;
    width: 10rem;
}

.logo-alt{
    margin: 0 auto;
    padding-top: 10px;
    width: 8rem;
}

.logo-alt svg {
    width: 100%;
}

.logo svg {
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

p.headline-big {
    font-size: 18px;
    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 84px;
    font-weight: 400;
    margin-top: 130px;
}

.headline-small {
    font-size: 18px;
    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 29px;
    font-weight: 100;
    margin-top: 10px;
}

.headline-small-alt {
    font-size: 18px;
    text-align: center;
    font-family: 'Canela Web';
    margin: 0px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    text-transform: uppercase;
}

.byline {
    font-size: .75rem;
    text-align: center;
    font-family: 'Atlas Grotesk Web';
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: .05rem;
    margin-bottom: 40px;
}

.byline-section {
    margin-top: 90px;
}

.prose-big {
    margin: 0 auto;
    max-width: 34rem;
    font-family: 'Publico Text Web';
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    line-height: 1.7;
}

.prose-big-alt {
    margin: 0 auto;
    max-width: 54rem;
    font-family: 'Publico Text Web';
    font-size: 1.2rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    line-height: 1.7;
}

.byline a {
    color: initial;
    text-decoration: none;
    border-bottom: 1px solid red;
    font-weight: 900;
}

.logo path {
}

.intro {
    padding-bottom: 70px;
    background: #fdfdfd;
}

.prose {
    margin: 0 auto;
    max-width: 40rem;
    font-family: 'Publico Text Web';
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin-top: 20px;
    line-height: 1.7;
    color: black;
    margin-bottom: 60px;
}

.body-section {
    padding-top: 90px;
    padding-bottom: 0px;
    width: 60rem;
    margin: 0 auto;
}

.section-title {
    font-family: 'Canela Web';
    font-weight: 600;
    font-size: 26px;
    max-width: 40rem;
    margin: 0 auto;
}

.section-title-two {
    font-family: 'Atlas Grotesk Web';
    font-weight: 100;
    font-size: 1.6em;
    max-width: 40rem;
    margin: 0 auto;
    letter-spacing: -.02em;
    /* -webkit-font-smoothing: antialiased; */
    color: rgba(0,0,0,.90);
}

.section-title-three {
    font-family: 'Atlas Grotesk Web';
    font-weight: 600;
    font-size: 1.0em;
    max-width: 40rem;
    margin: 0 auto;
    /* letter-spacing: -.02em; */
    /* -webkit-font-smoothing: antialiased; */
    color: rgba(0,0,0,.90);
    text-transform: uppercase;
}

.headline-alt {
    margin: 0 auto;
    max-width: 54rem;
    font-family: 'Canela Web';
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 150px;
    line-height: 1.5;
}


.logo-alt path {
    fill: #3F51B5;
}